img {
    margin-right: 7px;
}

.nav {
    background-color: #007155;
    font-family: "Roboto", sans-serif;

}

/*SITE LINKS*/
/* unvisited link */
a:link {
    /*color: rgb(91,162,62);*/
    /*color: white;*/
    color: rgb(212, 144, 20);
}

/* visited link */
a:visited {
    /*color: rgb(0,102,75);*/
    color:coral;
}

/* mouse over link */
a:hover {
    color: rgb(212, 144, 20);
}

/* selected link */
a:active {
    color: black;
}

/*SITE LINKS*/

/*NAV LINKS*/
/* unvisited link */
nav a:link {
    /*color: rgb(91,162,62);*/
    color: white;
}

/* visited link */
nav a:visited {
    /*color: rgb(0,102,75);*/
    color: white;
}

/* mouse over link */
nav a:hover {
    color: rgb(212, 144, 20);
}

/* selected link */
nav a:active {
    color: black;
}

/*NAV LINKS*/
.site_title {
    font-family: "Playfair Display", serif;
    color: #66AC47;
}

.tab_title {
    margin-top: 1.5rem;
    font-family: "Playfair Display", serif;
    color: black;
}

.square {
    list-style: square;
}


.subtitle {
    font-family: "Oswald Regular";
    opacity: 0.5;
    word-spacing: .2rem;
}

#uvm-logo {
    padding-bottom: 3rem;
}

.foot_style {
    background-color: #007155;
    color: white;
    margin-bottom: 0;
    margin-top: 5rem;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    max-height: 100px;
}

.left-padding {
    padding-left: 2rem;
}

.text-content {
    font-family: "Raleway", sans-serif;

}

.padding-top {
    margin-top: 1rem;
}

.bg-dark {
    background-color: #007155;
}

.card {
    border: none;
    padding-left: 0;
}

.card-body {
    padding-left: 0;

}

.faculty_name {
    font-family: "Playfair Display", serif;
    padding-left: 0;
}

.research_assistants {
    padding-top: 2.5rem;
}

.plaid_highlight {
    color: rgb(212, 144, 20);
    opacity: 1;
}

.logo {
    max-height: 196px;
}

.page {
    height:fit-content;
    min-height:256px;
    padding-bottom: 10px;
}

.page img {
    border-radius: 5%;
    float: left;
}

.page h1 {
    font-size: 18pt;
}

.page h3 {
    font-size: 14pt;
}

.post {
    margin-bottom: 15px;
}

.post > h1 {
    font-size: 18pt;
}

.post img {
    max-width: 256px;
    max-height: 256px;
    float: left;
    border-radius: 5%;
}

.labs {
    min-height: 256px;
    max-height: 512px;
}

@media screen and (max-width: 480px) {
    .logo {
        max-width: 100%;
    }
    .page img {
        width: 100%;
    }
    /* Somewhere in here use css to make the nav bar a hamburger menu on mobile. */
    .nav li {
      float: left;
    }
    .nav li a {
      padding: 20px 30px;
    }
    .nav .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .nav .menu-icon {
      display: none;
    }
  }