img {
    margin-right: 7px;
}

.nav {
    background-color: #007155;
    font-family: "Roboto", sans-serif;
    width: 100%;
}

/*SITE LINKS*/
/* unvisited link */
a:link {
    /*color: rgb(91,162,62);*/
    /*color: white;*/
    color: rgb(212, 144, 20);
}

/* visited link */
a:visited {
    /*color: rgb(0,102,75);*/
    color:coral;
}

/* mouse over link */
a:hover {
    color: rgb(212, 144, 20);
}

/* selected link */
a:active {
    color: black;
}

/*SITE LINKS*/

/*NAV LINKS*/
/* unvisited link */
nav a:link {
    /*color: rgb(91,162,62);*/
    color: white;
}

/* visited link */
nav a:visited {
    /*color: rgb(0,102,75);*/
    color: white;
}

/* mouse over link */
nav a:hover {
    color: rgb(212, 144, 20);
}

/* selected link */
nav a:active {
    color: black;
}

/*NAV LINKS*/
.site_title {
    font-family: "Playfair Display", serif;
    color: #66AC47;
}

.tab_title {
    margin-top: 1.5rem;
    font-family: "Playfair Display", serif;
    color: black;
}

.square {
    list-style: square;
}


.subtitle {
    font-family: "Oswald Regular";
    opacity: 0.5;
    word-spacing: .2rem;
}

#uvm-logo {
    padding-bottom: 3rem;
    max-height: 196px;
}

.foot_style {
    background-color: #007155;
    color: white;
    margin-bottom: 0;
    margin-top: 5rem;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    max-height: 100px;
}

.left-padding {
    padding-left: 2rem;
}

.text-content {
    font-family: "Raleway", sans-serif;

}

.padding-top {
    margin-top: 1rem;
}

.bg-dark {
    background-color: #007155;
}

.card {
    border: none;
    padding-left: 0;
}

.card-body {
    padding-left: 0;

}

.faculty_name {
    font-family: "Playfair Display", serif;
    padding-left: 0;
}

.research_assistants {
    padding-top: 2.5rem;
}

.plaid_highlight {
    color: rgb(212, 144, 20);
    opacity: 1;
}

.logo {
    max-height: 64px;
    border-radius: 15%;
    float: left;
}

.page {
    height:fit-content;
    min-height:256px;
    padding-bottom: 10px;
}

.page img {
    border-radius: 5%;
    float: left;
}

.page h1 {
    font-size: 18pt;
}

.page h3 {
    font-size: 14pt;
}

.post {
    margin-bottom: 15px;
    min-height: 100%;
}

.post > h1 {
    font-size: 18pt;
}

.post img {
    max-width: 256px;
    max-height: 256px;
    float: left;
    border-radius: 5%;
}

.lab-panel {
    min-height: 196px;
    padding-bottom: 25px;
    border-radius: 15px 15px;
    margin-top: 25px;
    background-color: beige;
    height: max-content;
}

.lab-content {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 10px 0px 15px;
    color: white;
}

.paginator {
    margin-top:  150px;
    text-align: center;
}

.previous {
    text-align: left;
    width: 30%;
}

.next {
    text-align: right;
    width: 30%;
}

.mid {
    text-align: center;
    width: 30%;
}

.preview-image {
    max-width: 64px;
}

.section {
    padding-left: 15%;
    padding-right: 15%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

.menu-toggle {
    display: none;
}

.title {
    padding-top: 20px;
}

.lab-data {
    width:100%;
    height:max-content;
}

.lab-img {
    max-height: 128px; 
    max-width: 256px; 
    border-radius: 2% 2%; 
    margin-right: 1em;
    align-content: center;
}

.lab-summary {
    size: 10pt; 
    text-align:start; 
    line-height: 1.25em;
}

@media screen and (max-width: 480px) {
    .logo {
        max-width: 100%;
    }
    .page img {
        width: 100%;
    }
    /* Somewhere in here use css to make the nav bar a hamburger menu on mobile. */
    .nav li {
      float: left;
    }
    .nav li a {
      padding: 20px 30px;
    }
    .nav .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .nav .menu-icon {
      display: none;
    }

    .section {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* hamburger menu on mobile */

    .menu-content {
        font-family: 'Oswald', sans-serif; 
        padding: 0 0 0 50px;
    }
    .collapsible-menu {
        background-color: rgb(255, 255, 255);
        padding: 0px 30px;
        border-bottom: 3px solid #CDE700;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }
    .collapsible-menu ul {
        list-style-type: none;
        padding: 0;
    }
    .collapsible-menu a {
        display:block;
        padding: 10px;
        text-decoration: none;
    }

    .collapsible-menu label {
        font-family: 'Sedgwick Ave Display', cursive;
        font-size: 56px;
        display: block;
        cursor: pointer;
        background: url(menu.png) no-repeat left center;
        padding: 10px 0 10px 50px;
    }
    input#menu {
        display: none;
    }

    .menu-content {
        max-height: 0;
        overflow: hidden;
        font-family: 'Oswald', sans-serif; 
        padding: 0 0 0 50px;
    }
    /* Toggle Effect */
    input:checked ~ label {
        background-image: url(close.png);
    }
    input:checked ~ .menu-content {
        max-height: 100%;
    }

    input:checked +label {
        background-image: url(close.png);
    }

    /* Button styling */
.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: #c00;
  }
  
  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  .main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
          box-shadow 0.3s ease;
    z-index: 999;
  }
  
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
  }
  
  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }
  
  .main-menu li:first-child a {
    border-top: 1px solid #383838;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
    text-decoration: underline;
  }
  
  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }

  .main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

  }