{% extends "base.html" %}

{% block content %}

<h1>{{ section.title }}</h1>

{% for page in section.pages %}

{% if page.extra and page.extra.background %}
    <div class="lab-panel" style="background-color: {{ page.extra.background }}">
{% else %}
    <div class="lab-panel">
{% endif %} 

<div class="lab-content">
    {% if page.extra %}
        <div style="float:left; height:100%">
            <div class="text-center">
            <a href="{{page.extra.url}}" class="text-center">
                <img 
                    {% if page.extra.banner %}
                    src="{{ page.permalink }}{{page.extra.banner}}" 
                    {% elif page.extra.logo %}
                    src="{{ page.permalink }}{{page.extra.logo}}" 
                    {% else %}
                    src=""
                    {% endif %}
                    
                    alt="{{page.title}} logo"
                    style="max-height: 128px; max-width: 256px; border-radius: 2% 2%; margin-right: 1em;"/></a>
                </div>
            <h6 class="text-center" style="max-width:256px;">{{page.extra.tagline}}</h6>
        </div>
    {% endif %}
        <div style="size: 10pt; text-align:start; line-height: 1.25em;">{{ page.content | safe}}</div>
</div>

    {% if page.extra.director %}
    <div style="margin-left: 20px; margin-right: 20px; color:white;">
        <div style="float:left">
            <b style="color:burlywood">Lab Director:</b>&nbsp;<a href="{{page.extra.director.url}}">{{ page.extra.director.name }}</a>
        </div>
        <div style="float:right"> 
            <b style="color:burlywood">Lab Contact:</b>&nbsp;
            <span style="font-family: 'Courier New', Courier, monospace;">{{page.extra.email}}</span> 
        </div>
    </div>
    {% endif %}

</div>
    


{% endfor %}
{% endblock %}