{% extends "base.html" %}

{% block content %}

<h1>{{ section.title }}</h1>

{% for page in section.pages %}

<div class="lab-panel"
     {% if page.extra and page.extra.background %}
     style="background-color: {{ page.extra.background }}"
     {% endif %} 
>

    <div class="lab-content">
        <div style="float:left; text-align: center;">
            <a href="{{page.extra.url}}">
                <img 

                        {% if page.extra.banner %}
                        src="{{ page.permalink }}{{page.extra.banner}}" 
                        {% elif page.extra.logo %}
                        src="{{ page.permalink }}{{page.extra.logo}}" 
                        {% else %}
                        src=""
                        {% endif %}

                        alt="{{page.title}} logo"
                        class="lab-img"/>
            </a>
            <h6 class="text-center lab-img">{{page.extra.tagline}}</h6>
            <div class="text-center lab-img">
                {% if page.extra.director.people %}
                <a href="{{ page.extra.director.people }}">People</a>
                {% else %}
                <a href="">People</a>
                {% endif %}
            </div>
            <div class="text-center">
                <b style="color:burlywood">Lab Contact:</b>&nbsp;
                <span style="font-family: 'Courier New', Courier, monospace;">{{page.extra.email}}</span> 
            </div>        
        </div>
        <div class="lab-summary">
            {{ page.content | safe}}
            <!-- <div style="float:left;text-align: left;min-width: 128px;"> -->
            <p style="text-align: right;"><b style="color:burlywood">Lab Director:</b>&nbsp;<a href="{{page.extra.director.url}}">{{ page.extra.director.name }}</a></p>
            <!-- </div>  -->
        </div>
    </div>
</div>
    


{% endfor %}
{% endblock %}